$dark-textShadow: 2px 2px 5px indigo;
$light-textShadow: 2px 2px 5px white;
$dark-highContrast-textShadow: 2px 2px 1px indigo;
$light-highContrast-textShadow: 2px 2px 1px white;

.mainContainer {
  transition: background-color 1s ease-in;
  background-color: #111111;
}

.screen-centered {
  @apply flex flex-col h-screen w-screen justify-center items-center;
}

.h-vh25 {
  height: 25vh;
  min-height: 25vh;
}

.project-row {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200px;
  @apply text-sm text-center;
  a {
    text-shadow: $dark-textShadow;
    transition: 1.5s cubic-bezier(0.04, 1.1, 0.51, 0.87);
    @apply text-xl text-center;
    &:hover {
      @apply text-gray-300;
      text-shadow: none;
    }
  }
}

.home {
  @apply flex justify-center items-center absolute right-3 top-2 rounded-full bg-slate-800 text-green-500 z-10 opacity-60;
  &:hover {
    @apply bg-green-500 text-slate-800 opacity-100;
  }
  width: 36px;
  height: 36px;
  cursor: pointer;
}

@media (min-width: 640px /* sm */) {
  .project-row {
    background-size: 250px;
    @apply text-base;

    a {
      @apply text-2xl;
    }
  }

  .SVG {
    background-origin: content-box;
    background-position-y: 65%;
  }

  .ListAnimations,
  .ListAI {
    background-size: cover;
  }
}

@media (min-width: 768px /* md */) {
  .project-row {
    @apply text-lg;
  }
}

::-webkit-scrollbar {
  width: 0.75rem;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: #00000022;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
  background: #00000055;
  border-radius: 1rem;
}
