$dark-textShadow: 2px 2px 3px indigo;
$light-textShadow: 2px 2px 3px white;

.mainContainer {
  transition: background-color 1s ease-in;
  background-color: #111;
}

.h-vh25 {
  height: 25vh;
  min-height: 25vh;
}

.project-row {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200px;
  @apply text-sm text-center;
  a {
    text-shadow: $dark-textShadow;
    transition: 1.5s cubic-bezier(0.04, 1.1, 0.51, 0.87);
    @apply text-xl text-center;
    &:hover {
      @apply text-gray-300;
      text-shadow: none;
    }
  }
}

.VueJS {
  @apply bg-green-400 border-green-500 border-b-2;
  background-image: url(../../assets/icons/vuejs.svg);
  a {
    @apply text-blue-600;
  }
}

.ReactJS {
  @apply bg-blue-600 border-blue-500 border-b-2;
  background-image: url(../../assets/icons/react.svg);
  back a {
    @apply text-green-300;
  }
}

.Python {
  @apply bg-blue-700 border-blue-800 border-b-2;
  background-image: url(../../assets/icons/python.svg);
  a {
    @apply text-green-300;
  }
}

.Angular {
  @apply bg-red-700 border-red-800 border-b-2;
  background-image: url(../../assets/icons/angular.svg);
  a {
    @apply text-green-300;
  }
}

.Laravel {
  @apply bg-gray-100 border-red-600 border-b-2 text-black;
  background-image: url(../../assets/icons/laravel_new.svg);
  a {
    @apply text-black;
    &:hover {
      @apply text-gray-700;
      text-shadow: none;
    }
  }
}

.Blockchain {
  @apply bg-red-600 border-red-400 border-b-2 text-white;
  background-image: url(../../assets/blockchain-dark.svg);
  background-size: 250% 250%;
  a {
    @apply text-white;
    text-shadow: $dark-textShadow;
    &:hover {
      @apply text-green-200;
      text-shadow: $light-textShadow;
    }
  }
}
.Blockchain:nth-child(2n) {
  @apply text-black;
  background-image: url(../../assets/blockchain-light.svg);
  a {
    @apply text-black;
    text-shadow: $light-textShadow;
    &:hover {
      @apply text-green-200;
      text-shadow: $dark-textShadow;
    }
  }
}

.ListAnimations {
  @apply bg-orange-100 border-orange-600 border-b-2 text-black;
  background-image: url(../../assets/wave.svg);
  background-size: cover;
  a {
    @apply text-black;
    &:hover {
      @apply text-gray-700;
      text-shadow: none;
    }
  }
}

.ListBlockchain {
  @apply bg-red-400 border-red-600 border-b-2 text-white;
  opacity: 1;
  background-color: #3b0202;
  background-size: 20px 35px;
  background-repeat: repeat;
  $bg-color-a: #a71027e5;
  $bg-color-b: #ef4f4f55;
  $bg-color-back: transparent;
  background-image: linear-gradient(
      30deg,
      $bg-color-a 12%,
      $bg-color-back 12.5%,
      $bg-color-back 87%,
      $bg-color-a 87.5%,
      $bg-color-a
    ),
    linear-gradient(
      150deg,
      $bg-color-a 12%,
      $bg-color-back 12.5%,
      $bg-color-back 87%,
      $bg-color-a 87.5%,
      $bg-color-a
    ),
    linear-gradient(
      30deg,
      $bg-color-a 12%,
      $bg-color-back 12.5%,
      $bg-color-back 87%,
      $bg-color-a 87.5%,
      $bg-color-a
    ),
    linear-gradient(
      150deg,
      $bg-color-a 12%,
      $bg-color-back 12.5%,
      $bg-color-back 87%,
      $bg-color-a 87.5%,
      $bg-color-a
    ),
    linear-gradient(
      60deg,
      $bg-color-b 25%,
      $bg-color-back 25.5%,
      $bg-color-back 75%,
      $bg-color-b 75%,
      $bg-color-b
    ),
    linear-gradient(
      60deg,
      $bg-color-b 25%,
      $bg-color-back 25.5%,
      $bg-color-back 75%,
      $bg-color-b 75%,
      $bg-color-b
    );
  background-position:
    0 0,
    0 0,
    10px 18px,
    10px 18px,
    0 0,
    10px 18px;
  a {
    @apply text-white;
    text-shadow: $dark-textShadow;
    &:hover {
      @apply text-green-200;
      text-shadow: $light-textShadow;
    }
  }
}

.SVG {
  @apply bg-orange-400 border-red-600 border-b-2 text-black;
  background-image: url(../../assets/icons/svg_vector.svg);
  background-origin: content-box;
  background-position-y: 65%;
  a {
    @apply text-gray-700;
    text-shadow: $light-textShadow;
    &:hover {
      @apply text-white;
      text-shadow: $dark-textShadow;
    }
  }
  h3,
  p,
  span {
    @apply text-gray-700;
    text-shadow: $light-textShadow;
  }
}

.home {
  @apply flex justify-center items-center absolute right-5 top-5 rounded-full bg-white text-slate-800;
  &:hover {
    @apply bg-slate-800 text-white;
  }
  width: 30px;
  height: 30px;
  cursor: pointer;
}

@media (min-width: 640px /* sm */) {
  .project-row {
    background-size: 250px;
    @apply text-base;

    a {
      @apply text-2xl;
    }
  }

  .SVG {
    background-origin: content-box;
    background-position-y: 65%;
  }

  .ListBlockchain {
    background-size: 20px 35px;
  }

  .ListAnimations {
    background-size: cover;
  }

  .Blockchain {
    background-size: 250% 250%;
  }
}

@media (min-width: 768px /* md */) {
  .project-row {
    @apply text-lg;
  }
}

::-webkit-scrollbar {
  width: 0.75rem;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: #00000022;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
  background: #00000055;
  border-radius: 1rem;
}
