<div class="flex flex-wrap h-screen w-screen">
  <div
    class="w-full h-vh25 py-4 {{
      project.stack[0]
    }} project-row flex justify-center"
    *ngFor="let project of projects"
  >
    <div class="flex-1 w-2/6 flex flex-col justify-center text-center">
      <h3 class="self-center font-bold">{{ project.title }}</h3>
      <div class="ml-4 overflow-scroll">
        <p>{{ project.description }}</p>
      </div>
    </div>
    <div
      class="flex-1 w-2/6 flex flex-col justify-center items-center text-2xl"
    >
      <a class="no-underline mb-3" [href]="project.demoLink" target="_blank"
        >Demo</a
      >
      <a class="no-underline" [href]="project.repoLink" target="_blank">Repo</a>
    </div>
    <div
      class="flex-1 w-2/6 flex flex-wrap justify-center items-center overflow-scroll"
    >
      <span class="stack font-bold m-2" *ngFor="let tec of project.stack">
        #{{ tec }}
      </span>
    </div>
  </div>
</div>
